PORT=5002
NODE_ENV=development

DB_HOST=localhost
DB_PORT=5432
DB_NAME=buildtrip
DB_USER=postgres
DB_PASSWORD=123

JWT_SECRET=Qzv8t7pXw4k9H2mR1aV6zN5qL3cT9yP0rW8uX2bJ7sK1pD4
JWT_REFRESH_SECRET=8nY2mT6pQ1zR9vL3cX7aB5uD2fW9kH4pR6sJ1yV8tN3mP5

REDIS_HOST=localhost
REDIS_PORT=6379
# REDIS_PASSWORD=

FRONTEND_URL=http://localhost:3000
BACKEND_URL=http://localhost:5002
EMAIL_VERIFY_URL=http://localhost:5002/api/auth/verify-email
RESET_PASSWORD_URL=http://localhost:3000/reset-password

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_SECURE=false
MAIL_USER=your_email@example.com
MAIL_PASS=your_email_app_password
MAIL_FROM="BuildTrip <no-reply@buildtrip.local>"
